@model Group


@{
    ViewBag.Title = "Редактирование";
    Layout = "_Layout";
}

<h2>Редактирование</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" asp-route-id="@Model.GroupId" asp-controller="Groups" method="post">
            @Html.HiddenFor(g => g.GroupId)
            <div class="form_row">
                <label for="">
                    Название
                    <input asp-for="Name" type="text" value="@Model.Name">
                </label>
            </div>
            <button type="submit"> Изменить </button>
        </form>
    </div>
</div>
